* {
  box-sizing: border-box;
}

body {
  background-color: #abbad7;
  font-family: Arial, Helvetica, sans-serif;
  height: 52.1vw;

  transition:
    background 1.2s ease,
    color 1.2s ease;
}

/* затемнение */

body.dark {
  background: #101340;
  color: #e7edff;
}

#toggle {
  width: 120px;
  height: 50px;
  background: #fff;
  border-radius: 12px;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition:
    background 1.2s ease,
    color 1.2s ease;
}

.firstBlock {
  width: 100vw;
  height: 52.1vw;
  position: relative;
}
h1 {
  font-size: 9vw;
  font-weight: bold;
  color: #435373;
}
p {
  font-size: 1.4vw;
  color: #dde8ff;
}
.p1 {
  color: #435373;
}

body.dark h1,
body.dark p {
  color: #dde8ff;
  transition:
    color 1.2s ease,
    background 1.2s ease,
    transform 1.2s ease;
}

.text_1 {
  margin-top: 2.6vw;
  margin-left: 3vw;
  margin-bottom: 2.6vw;
  width: 36.6vw;
  height: 20.3vw;
  z-index: 4;
}
.firstPics {
  display: flex;
}
/*кнопка*/
.button {
  position: absolute;
  width: 12.8vw;
  height: 12.8vw;
  background-color: #e6eeff;
  border-radius: 15%;
  margin-top: 15.5vw;
  margin-left: 43.6vw;
}
.button.dark {
  background-color: #5641c0;
  transition:
    background 1.2s ease,
    color 1.2s ease;
}
.buttonInside {
  width: 2.6vw;
  height: 4.7vw;
  background-image: url(../images/button.png);
  background-size: 2.6vw 4.7vw;
  margin-top: 3.9vw;
  margin-left: 5vw;
  transition:
    background 1.2s ease,
    color 1.2s ease;
}
.buttonInside.dark {
  background-image: url(../images/darkButton.png);
}
.windowFirst {
  position: absolute;
  margin-left: 61vw;
  margin-top: -10.6vw;
  width: 39vw;
  height: 49.8vw;
  background-image: url(../images/window1.png);
  background-size: 39vw 49.8vw;
}
.windowFirst.dark {
  position: absolute;
  margin-left: 61vw;
  margin-top: -10.6vw;
  width: 39vw;
  height: 49.8vw;
  background-image: url(../images/nightWindow.png);
  background-size: 39vw 49.8vw;
}
.sky {
  position: absolute;
  width: 34.2vw;
  height: 33vw;
  background-color: #33aaff;
  margin-left: 65.8vw;
  transition: background 1s ease;
  overflow: hidden;
}
.sky.dark {
  background-color: #0b0d36;
}
.sun {
  display: block;
  width: 20.8vw;
  height: 20.8vw;
  border-radius: 100%;
  background-color: #fff081;
  margin-left: 19.5vw;
  margin-top: -3vw;
  position: absolute;
}
.sun.is-move {
  animation: sunMove 0.8s ease forwards;
}

.moon.is-move {
  animation: moonMove 0.8s ease forwards;
}
.moon {
  position: absolute;
  opacity: 0;
  width: 20.8vw;
  height: 20.8vw;
  margin-left: 9vw;
  margin-top: 7vw;
  background-image: url(../images/moon.png);
  background-size: 20.8vw 20.8vw;
}
.sunsFace {
  position: absolute;
  margin-top: 8.5vw;
  margin-left: 2vw;
  width: 9.6vw;
  height: 7.5vw;
  background-image: url(../images/sunaFace.png);
  background-size: 9.6vw 7.5vw;
}
.light {
  position: absolute;
  width: 22.9vw;
  height: 29.8vw;
  background-image: url(../images/light.png);
  background-size: 22.9vw 29.8vw;
  margin-top: 3vw;
  margin-left: -11vw;
  opacity: 1;
  transition: opacity 0.8s ease;
}
.light.is-fade {
  opacity: 0.3;
}

.catImg {
  position: absolute;
  width: 68.6vw;
  height: 29.1vw;
  background-image: url(../images/cat.png);
  background-size: 68.6vw 29.1vw;
  z-index: 3;
  transition:
    background 0.7s ease,
    color 0.7s ease;
}
.catImg.dark {
  position: absolute;
  width: 68.6vw;
  height: 29.1vw;
  background-size: 68.6vw 29.1vw;
  z-index: 3;
  background-image: url(../images/catNight.png);
}
.tailImg {
  position: absolute;
  z-index: 2;
  background-image: url(../images/tail.png);
  margin-top: -10vw;
  margin-left: -5vw;
  width: 18.1vw;
  height: 24.5vw;
  background-size: 18.1vw 24.5vw;
  transition:
    background 1.2s ease,
    color 1.2s ease;
}
.tailImg.dark {
  background-image: url(../images/tail2.png);
}
.eyes {
  position: absolute;
  display: flex;
  z-index: 1;
  margin-top: 10vw;
  gap: 2.09vw;
}

.pupil {
  position: absolute;
  width: 4.5vw;
  height: 4.5vw;
  border-radius: 100%;
  background-color: #209f33;
  transition: transform 60ms linear;
  z-index: 2;
}
.eye_1,
.eye_2 {
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  background-color: white;
  overflow: hidden;
}
.eye_1 {
  margin-left: 35vw;
}
/* секция с окнами  */

.secondBlock {
  display: none;
}
.secondBlock.is-visible {
  display: block;
  position: relative;
  z-index: 1;
  height: 54.5vw;
  overflow: hidden;
}
.building {
  position: relative;
  width: 63.19vw;
  height: 54.5vw;
  background: #221566;
  z-index: 2;
  padding-top: 3vw;
  padding-left: 2.9vw;
}
.windows {
  display: grid;
  grid-template-columns: repeat(6, 7.1vw);
  grid-template-rows: repeat(3, 12vw);
  column-gap: 2.7vw;
  row-gap: 5vw;
}
.window {
  background: #0b0d36;
  width: 7.1vw;
  height: 12vw;
  z-index: 3;
  overflow: hidden;
}
.window:nth-child(1),
.window:nth-child(6),
.window:nth-child(9) {
  animation: lightWindow-1 2s infinite;
}

.window:nth-child(3),
.window:nth-child(7),
.window:nth-child(11) {
  animation: lightWindow-1 7s infinite;
}
.window:nth-child(13),
.window:nth-child(4),
.window:nth-child(17) {
  animation: lightWindow-1 5s infinite;
}
.window:nth-child(1).active {
  background: #ffd036;
  animation: none;
}

.window:nth-child(3).active {
  background: #ffd036;
  animation: none;
}
.window:nth-child(4).active {
  background: #ffd036;
  animation: none;
}
.window:nth-child(5).active {
  background: #ffd036;
  animation: none;
}
.window:nth-child(6).active {
  background: #0b0d36;
  animation: none;
}
.window:nth-child(7).active {
  background: #ffd036;
  animation: none;
}
.window:nth-child(8).active {
  background: #e436ff;
  animation: none;
  transition: background 0.7s ease;
}
.window:nth-child(9).active {
  background: #ffd036;
  animation: none;
}
.granny {
  position: absolute;
  width: 5vw;
  height: 4.8vw;
  background-image: url(../images/gr.png);
  background-size: 5vw 4.8vw;
  z-index: 4;
  margin-top: 7vw;
  margin-left: 1vw;
  opacity: 0;
  transition: opacity 0.4s ease;
}
.granny.is-visible {
  opacity: 1;
}

.child {
  position: absolute;
  width: 3vw;
  height: 4.5vw;
  background-image: url(../images/child.png);
  background-size: 3vw 5.6vw;
  margin-top: 7vw;
  margin-left: 0.2vw;
  z-index: 4;
  opacity: 0;
  transition: opacity 0.4s ease;
}
.child.is-visible {
  opacity: 1;
}
.couple {
  position: absolute;
  opacity: 0;
  width: 7vw;
  height: 5.7vw;
  background-image: url(../images/couple.png);
  background-size: 7vw 5.7vw;
  transition: opacity 0.4s ease;
}
.couple.is-visible {
  opacity: 1;
}
.frame {
  position: absolute;
  width: 7.2vw;
  height: 12vw;
  background-image: url(../images/frame.png);
  background-size: 7.2vw 12vw;
  z-index: 5;
}
.cloud_1 {
  z-index: 1;
  position: absolute;
  width: 18.7vw;
  height: 10.1vw;
  background-image: url(../images/cloud_1.png);
  background-size: 18.7vw 10.1vw;
  margin-left: 60vw;
  margin-top: -20vw;
  animation: moveLeft-2 50s linear infinite;
}

.cloud_2 {
  z-index: 1;
  position: absolute;
  width: 18.7vw;
  height: 10.1vw;
  background-image: url(../images/cloud_1.png);
  background-size: 18.7vw 10.1vw;
  margin-left: 90vw;
  margin-top: -30vw;
  animation: moveLeft-2 50s linear infinite;
}
.cloud_3 {
  z-index: 1;
  position: absolute;
  width: 15.6vw;
  height: 8.4vw;
  background-image: url(../images/cloud_1.png);
  background-size: 15.6vw 8.4vw;
  margin-left: 60vw;
  margin-top: -45vw;
  animation: moveLeft-2 40s linear infinite;
}
.cloud_4 {
  z-index: 1;
  position: absolute;
  width: 13.4vw;
  height: 7.2vw;
  background-image: url(../images/cloud_1.png);
  background-size: 13.4vw 7.2vw;
  margin-left: 90vw;
  margin-top: -50vw;
  animation: moveLeft-2 40s linear infinite;
}
.secondBlock p {
  position: absolute;
}
.secondBlock p:nth-of-type(1) {
  margin-top: -50vw;
  margin-left: 62vw;
  animation: moveLeft-2 30s linear infinite;
}
.secondBlock p:nth-of-type(2) {
  margin-top: -52vw;
  margin-left: 92vw;
  animation: op-1 4s linear infinite;
}
.secondBlock p:nth-of-type(3) {
  margin-top: -43vw;
  margin-left: 72vw;
  animation: moveLeft-2 25s linear infinite;
}
.secondBlock p:nth-of-type(4) {
  margin-top: -35vw;
  margin-left: 90vw;
  animation: moveLeft-2 30s linear infinite;
}
.secondBlock p:nth-of-type(5) {
  margin-top: -31vw;
  margin-left: 97vw;
  animation: op-1 3s linear infinite;
}
.secondBlock p:nth-of-type(6) {
  margin-top: -25vw;
  margin-left: 72vw;
  animation: moveLeft-2 25s linear infinite;
}
.secondBlock p:nth-of-type(7) {
  margin-top: -20vw;
  margin-left: 64vw;
  animation: op-1 5s linear infinite;
}
.secondBlock p:nth-of-type(8) {
  margin-top: -17vw;
  margin-left: 90vw;
  animation: moveLeft-2 35s linear infinite;
}
.secondBlock p:nth-of-type(9) {
  margin-top: -14vw;
  margin-left: 80vw;
  animation: op-1 2s linear infinite;
}
.thirdBlock {
  display: none;
}
.thirdBlock.is-visible {
  display: block;
  height: 65.6vw;
  position: relative;
  z-index: 1;
  background-color: #221566;
}
.drawCanvas {
  width: 100%;
  height: 65.6vw;
  display: block;
}
.clouds2 {
  display: none;
}
.clouds2.is-visible {
  display: block;
  position: absolute;
  z-index: 4;
  overflow: hidden;
  top: 96vw;
}
.clouds {
  width: 109vw;
  height: 19.9vw;
  background-image: url(../images/clouds.png);
  background-size: 109vw 19.9vw;
  left: 0;
  animation: moveLeft 60s linear infinite;
}
.clouds1 {
  display: flex;
}
/* масочка */
.fourthBlock {
  display: none;
}
.fourthBlock.is-visible {
  display: block;
  height: 55.2vw;
  position: relative;
  background-color: #221566;
  overflow: hidden;
}
.bd1 {
  position: absolute;
  width: 100vw;
  height: 34.6vw;
  background-image: url(../images/bed.png);
  background-size: 100vw 34.6vw;
  margin-top: 35vw;
}
.int {
  position: absolute;
  width: 117vw;
  height: 39.9vw;
  background-image: url(../images/int.png);
  background-size: 117vw 39.9vw;
  margin-left: -16vw;
  margin-top: 3vw;
}
.catImg-2 {
  position: absolute;
  width: 60.2vw;
  height: 41.7vw;
  background-image: url(../images/catImg-2.png);
  background-size: 60.2vw 41.7vw;
  margin-top: 15vw;
  margin-left: 23%;
  z-index: 3;
}
.white {
  position: absolute;
  background-color: white;
  width: 24vw;
  height: 11vw;
  margin-top: 28vw;
  margin-left: 36vw;
}
.eyes-2 {
  position: absolute;
  display: flex;
  z-index: 2;
  gap: 2vw;
  margin-top: 28vw;
  margin-left: 40vw;
}
.pupil-2 {
  position: absolute;
  width: 11vw;
  height: 11vw;
  border-radius: 100%;
  background-color: #209f33;
  transition: transform 60ms linear;
  z-index: 1;
}
.eye_3,
.eye_4 {
  width: 13vw;
  height: 13vw;
  border-radius: 50%;
  background-color: white;
  overflow: hidden;
}
.eye_4 {
  margin-left: 1vw;
}
